<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.xored.x5agent.core.events">
      <provider
            class="com.xored.x5agent.core.tests.TestEventProvider"
            id="testEventProvider">
      </provider>
      <configuration
            id="baseTestEventProviderConfiguration"
            provider="testEventProvider">
         <property
               name="eventBaseProp1"
               value="value1">
         </property>
         <property
               name="eventBaseProp2"
               value="value2">
         </property>
      </configuration>
   </extension>
   <extension
         point="com.xored.x5agent.core.snapshots">
      <provider
            class="com.xored.x5agent.core.tests.TestSnapshotProvider"
            id="testSnapshotProvider">
      </provider>
      <configuration
            id="baseTestSnapshotProviderConfiguration"
            provider="testSnapshotProvider">
         <property
               name="snapshotBaseProp1"
               value="value1">
         </property>
         <property
               name="snapshotBaseProp2"
               value="value2">
         </property>
      </configuration>
   </extension>
   <extension
         point="com.xored.x5agent.core.transports">
      <provider
            class="com.xored.x5agent.core.tests.TestTransportProvider"
            id="testTransportPovider">
      </provider>
      <configuration
            id="baseTestTransportConfiguration"
            provider="testTransportPovider">
         <property
               name="baseTransportProp1"
               value="value1">
         </property>
      </configuration>
   </extension>
   <extension
         point="com.xored.x5agent.core.streams">
      <configuration>
         <event
               base="baseTestEventProviderConfiguration"
               provider="testEventProvider">
            <property
                  name="eventProp1"
                  value="value1">
            </property>
	         <snapshot
	               base="baseTestSnapshotProviderConfiguration"
	               provider="testSnapshotProvider">
	            <property
	                  name="additionalSnapshotProp1"
	                  value="value1">
	            </property>
	            <property
	                  name="additionalSnapshotProp2"
	                  value="value2">
	            </property>
	         </snapshot>
         </event>
         <transport
               base="baseTestTransportConfiguration"
               provider="testTransportPovider">
            <property
                  name="transportProp1"
                  value="value1">
            </property>
         </transport>
      </configuration>
   </extension>

</plugin>
