<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="com.xored.x5agent.ui.Activator">
      </startup>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.xored.x5agent.ui.X5PreferencePage"
            id="com.xored.x5agent.ui.x5PreferencePage"
            name="X5">
      </page>
   </extension>

</plugin>
