<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.xored.x5agent.core.streams">
      <stream>
         <event
               class="com.xored.x5agent.core.tests.TestEventProvider">
            <snapshot
                  class="com.xored.x5agent.core.tests.TestSnapshotProvider">
               <parameter
                     name="snapshotParam1"
                     value="value1">
               </parameter>
            </snapshot>
            <parameter
                  name="eventParam1"
                  value="value1">
            </parameter>
         </event>
         <transport
               class="com.xored.x5agent.core.tests.TestTransportProvider">
            <parameter
                  name="transportParam1"
                  value="value1">
            </parameter>
         </transport>
      </stream>
   </extension>

</plugin>
