<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.xored.x5agent.core.streams">
      <stream>
         <event
               class="com.xored.x5agent.core.EclipseLogEventProvider">
            <snapshot
                  class="com.xored.x5agent.core.JavaInfoSnapshotProvider">
            </snapshot>
            <snapshot
                  class="com.xored.x5agent.core.EclipseInfoSnapshotProvider">
            </snapshot>
            <snapshot
                  class="com.xored.x5agent.core.SystemInfoSnapshotProvider">
            </snapshot>
         </event>
         <transport
               class="com.xored.x5agent.http.HttpTransport">
         </transport>
      </stream>
   </extension>

</plugin>
