<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="events" name="Events" schema="schema/events.exsd"/>
   <extension-point id="snapshots" name="Snapshots" schema="schema/snapshots.exsd"/>
   <extension-point id="transports" name="Transports" schema="schema/transports.exsd"/>
   <extension-point id="streams" name="Stream" schema="schema/streams.exsd"/>
</plugin>
